body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}

/*Estilização do header da pagina*/
header{
    background-color: pink;
}

/*Estilização do LOGOTIPO*/
.logo{
    width: 25%;
}

/*Estilização do menu*/
nav{
    margin-right: -500;
    right: 0;
    position: absolute;
    top: 55px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: red;
    text-decoration: underline;
}

.logo_caixa{
    width: 50%;
    position: relative;
    margin: 0 0 0 180;
}

/*Estilização do Main*/
section{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

h1:before{
    content: "🏡";
}

p{
    text-align: center;
    margin: 0;
}

.casas{
    width: 100%;
    text-align: center;
}

.casa{
    width: 20%;
    height: 50%;
    display: inline-block;
    border: 6px solid pink;
    border-radius: 12%;
    margin: 3% 3% 3.4% 3%;
}

h2{
    text-align: center;
    margin: 5%;
}

.img_arv{
    width: 65%;
}

/*Estilização do Footer*/
.footer{
    text-align: center;
    padding: 10px 0px 5px 0px;
    background-color: rgb(141, 141, 141);
    margin: 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 0;
}

.logo_footer{
    width: 10%;
}